// Home Page Styles here


.main-logo{
    @media @phone {
        width:150%;
    }
    img{
        width:100%;
        height: 80vh;
    }
}
.main-page-about{
    font-family: 'Oswald', sans-serif;
    background-image: url(../Images/doctor-14618786564A0.jpg);
    padding: 2%;
    height:35vh;
    .text-wrapper{
        
        margin: 0% 10%;
    }
    h1{
        
       font-size: 4.5rem;
       font-weight: bold;
    }
    p{
        
        font-size: 2.5rem;
    }
    @media @phone{
       
        width:130%;
        height:50vh;
    }
    
}
.main-page-products{
    font-family: 'Oswald', sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/pexels-photo-2731667.jpeg);
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    color:white;
    overflow: auto;
    @media @phone{
       width:128%;
       
    }
   
    div{
        margin-top:3%;
        width:30%;
        
    }
    h2{
        font-size: 4.5rem;
        @media @phone{
            font-size: 4.5rem;
            
         }
    }
    p{
        font-size:2.5rem;
        @media @phone{
            font-size: 2rem;
            
         }
    }
    
    

}