// Navigation code here

nav{
    display:flex;
    justify-content: space-evenly;
    background-color: black;
    position: fixed;
    width:100%;
    .cta{
        border:2px solid rgb(14, 235, 25);
        font-size: 3.5rem;
        padding:.5%;
        
        &:hover{
            background-color:white;
        }
    }
   .links{
        display:flex;
        justify-content: space-evenly ;
        width: 50%;
        align-items: center;
    }
    a{
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-weight: bold;
        font-size: 5rem;
        color:white;
        &:hover{
            color:rgb(14, 235, 25);
        }
    }
}