//header and nav
header {
  .center(space-between, center);
  background: black;
  border: 1px solid red;
  padding: 0% 2%;
  nav {
    .center(space-between, none);
    width: 6.5%;
    a {
      color: white;
      text-decoration: none;
    }
  }

  .headerName {
    h2 {
      color: white;
    }
  }

  .loginLink {
    .button(green, 5px);
    a {
      color: white;
      text-decoration: none;
    }
  }
}
